.header-container {
    top: 0;
    position: fixed;
    z-index: 5;
    width: 100%;
}


/*      Active Menu Item    */
.current-menu-item:not(.menu-item-home) > a > span {
    color: #980267;
}

.current-menu-item > .sub-menu > .menu-item > a > span {
    color: #000;
}

.menu-container {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

/*.menu-header > ul.menu {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3)
}*/
.menu-container {
    /*padding: 5px;*/
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3)
}

#menu-hauptmenue {
    padding:0;
}

.menu-header > ul.menu > .menu-item {
    display: inline-block;
    padding: 40px 0 40px 0;
    cursor: pointer;
}


.menu-header > ul.menu > .menu-item:first-child {
    padding: 5px 5px 5px 0;
    margin-right: 50px;
}

.menu-header > ul.menu > .menu-item:first-child > a, .menu-header > ul.menu > .menu-item:last-child > a {
    border: 0;
}

.menu-header > ul.menu > .menu-item > a{
    display: inherit;
    /*margin: 0px;*/
    padding: 0 8px 0 8px;
    font-weight: normal;
    font-size: 21px;
    color: #000;
    border-right: 1px solid #e1e1e1;
    text-decoration: none;
}

.menu-header > ul.menu > .menu-item:first-child > a {
    font-weight: bold;
    padding: 3px 3px 3px 3px;
}

.menu-header > ul.menu > .menu-item:first-child:hover {
    background-color: #E3000F;
    transition: .5s;
}

.menu-header > ul.menu > .menu-item > a:hover {
    color: #980267;
}

.menu-header > ul.menu > .menu-item:first-child > a > span {
    padding-left: 5px;
    border-left: 1px solid transparent;
}

.menu-header > ul.menu > .menu-item:first-child:hover > a > span {
    color: #fff;
    background-color: transparent;
    transition: .5s;
    border-left: 1px solid white;
}


.sub-menu {
    position: relative;
    list-style: none;
    padding: 0;
    margin-left: 55px;
    margin-top: -18px;
}


.sub-menu > li > a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-size: 11px;

}


.menu-header > ul.menu > .menu-item:hover > .sub-menu > li > a > span {
    color: #fff;
    transition: .5s;
}



/*      Front Page Picture  */

#header-image-container {
    margin: 0 -15px 0 -15px;
    background-image: url("../img/kuppel_bundestag-h.png");
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-size: cover !important;
}

#header-image {
    min-height: 100vh;
}

/*
    ===============

    Top Line of Header

    ===============
 */

.header-contact-section {
/*    width: 100%;
    background-color: rgba(255,255,255,.1);*/
}

.contact-scrolled {
    display: none;
    transition: 2s;
}

/*
    Text
 */
.header-contact-text {
    font-size: 12px;
    margin-bottom: 0;
    padding: 4px 0;
    margin-right: 150px;
}



/*
    Social Media Buttons
 */
.fa {
    float: right;
    font-size: 12px;
    text-align: center;
    text-decoration: none !important;
}

.fa-facebook {
    line-height: 31px;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    border-right: 2px solid transparent;
    padding: 0 10px 0 11px !important;
}

.fa-facebook:hover {
    transition: .8s;
    background-color: #3B5998;
    text-decoration: none;
    color: #fff !important;
}

.fa-no-float {
    float: none;
}

.menu-facebook {
    font-size: 21px;
}