/*
    Description: Default Styling
    Version: 1.0.0



    SPD-Rot: #E3000F rgb(227,0,15)
    Purpur: #980267 rgb(152,2,103)
    Dunkelrot: #861C3E rgb(182,28,62)
    Cyanblau: #00B4CC rgb(0,180,204)

    Schrift: SPD TheSans, SPD TheSans Versal (Extrabold, Regular)
*/


/*
    ======================



    ======================
 */



/*      SPD Fonts       */

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans.ttf');
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-bold-italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-narrow.ttf');
    font-stretch: condensed;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-narrow-bold.ttf');
    font-stretch: condensed;
    font-weight: bold;

}

body{
    font-family: 'SPD TheSans', sans-serif;
    overflow-x: hidden;
    color: #000;
}

* {
    box-sizing: border-box;
}


/*
    ======================

    Defines a class for columns with equal height in a bootstrap row.

    ======================
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}


.row {
    margin: 0 0;
    padding: 0 0;
}

[class*='col-'] {
    padding: 0 0;
}

.placeholder {
    height: 35px;
    width: 100%;
}

@media only screen and (min-width: 1404px) {
    .container-fluid {
        padding: 0;
        margin: 0;
    }

    .placeholder {
        height: 150px;
        width: 100%;
    }
}

.wp-post-image {
    display: block;
    margin:auto;
}



/*
    ======================

    Border between single posts.

    ======================
 */
.custom-post-divide {
    margin: 50px auto 50px auto;
    width: 60%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
}

/*
    ======================

    Custom horizontal lines

    ======================
 */

.custom-hr {
    width: 100%;
    clear: both;
    min-height: 8px;
    height: auto;
    margin-bottom: 10px;
    border-color: #9d9d9d;
}

.hr-left {
    display: inline-block;
    position: relative;
    left: 0;
    width: 70px;
    border-top: 2px solid #E3000F;
    vertical-align: middle;
}

.hr-line-purple {
    height: 10px;
    border-top: 1px solid #980267;
}

.hr-black {
    display: inline-block;
    position: relative;
    left: 0;
    width: 75%;
    border-top: 2px solid #efefef;
    vertical-align: middle;
}

/*
    ======================

    Separator for single posts

    ======================
 */

.separator {
    margin: 30px 0;
}

.separator-small {
    margin: 5px 0;
}


.table-cell-top {
    vertical-align: top;
    padding: 12px;
}

.justified {
    text-align: justify;
    word-break: normal;
}

.center-content {
    margin: auto;
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}





/*
    ======================

    Red heading

    ======================
 */
.heading-red {
    color: #E3000F;
}

/*
    ======================

    Purple italic heading

    ======================
 */
.heading-purple {
    color: #980267;
    /*font-style: italic;*/
}

/*
    ======================

    Bold heading

    ======================
 */
.heading-strong {
    font-weight: bold;
}

.heading-normal {
    font-weight: normal !important;
}

.heading-small {
    font-size: 15px;
    margin: 0;
    padding: 6px 0;
}

/*
    ======================

    Section heading

    ======================
 */
.section-heading {
    font-size: 2rem;
}

/*
    ======================

    Text styling

    ======================
 */
.text-small {
    font-size: 13px;
    line-height: 1.3;
}


/*
    ======================

    Link styling

    ======================
 */

.row a {
    text-decoration: none;
    font-weight: bold;
    color: #E3000F;
}

.row a:hover {
    text-decoration: underline;
}

.post-title-link {
    color: #000 !important;
}

.post-title-link:hover {
    text-decoration: underline;
}

.link-purple {
    color: #980267 !important;
}

.link-small {
    font-size: 13px;
    font-style: normal;
}

.link-archive {
    color: #808080 !important;
}



/*
    ======================

    Post time

    ======================
*/
.time {
    font-size: 13px;
    color: #808080;
    padding: 0 0;
}


/*
    ======================

    reminder entry

    ======================
*/

.reminder-entry:nth-child(2n) {
    background-color: #e3e3e3;
}



/*
    ======================

    divider image

    ======================
 */
.divider-image {
    display: block;
    width: 100%;
    opacity: .6;
}

.divider-image:hover {
    transition: .85s;
    opacity: 1;
}

.divider-image:not(:hover) {
    transition: .85s;
    opacity: .6;
}

/*
    ======================

    side image

    ======================
 */

.side-image {
    width: 40%;
    margin: 10px 25px;
}

.right {
    float: right;
}

.left {
    float: left;
}


/*
    ======================

    thumbnail image

    ======================
 */
.post-image-thumbnail > img {
    max-width: 100%;
    height: auto;
}



.col-padding {
    padding: 15px !important;
}

/*
    =============================

        Read more triangle

    =============================
 */

.read-more {
    position: absolute;
    right: -10px;
    top: 8px;
    margin-right: 25px;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-right: 8px solid black;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.read-more-open {
    position: absolute;
    right: -10px;
    top: 8px;
    margin-right: 25px;
    height: 0;
    width: 0;
    border-right: 4px solid transparent;
    border-top: 8px solid black;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.read-more:hover {
    border-right-color: #980267;
}

.read-more-open:hover {
    border-top-color: #980267;
}

.post-thumbnail-caption {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}



/*
    =============================

        cookies alert

    =============================
 */

.cookies-alert {
    position: fixed;
    right: 25px;
    bottom: 25px;
    /*padding: 15px;*/
    //background-color: rgba(152,2,103, .8);
    background-color: rgba(0,0,0, .9);
    z-index: 10;
    color: #fff;
    font-size: 13px;
}

.fade-on-click {
    opacity: 0;
    transition: .6s;
}

.cookies-text {
    text-align: center;
    vertical-align: middle;
    width: 85%;
    margin: auto;
    padding: 20px 0 10px 0;
}

.cookies-ok {
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 1.1em 1.5em;
    line-height: 1;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30%;
    margin-bottom: 10px;
}

.cookies-ok:hover {
    color: #000;
    background-color: rgba(255,255,255, .9);
    transition: 1s;
}

.cookies-datenschutz {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1em;
    margin-left: 10%;
    cursor: pointer;
}

.cookies-datenschutz:hover {
    color: #000;
    background-color: rgba(255,255,255, .9);
    border: 2px solid rgba(255,255,255, .9);
    transition: 1s;
    text-decoration: none;
}




/* Pagination */


.pagination {
    clear:both;
    /*position:absolute;*/
    font-size:11px; /* Pagination text size */
    line-height:13px;
    margin: auto;
    background-color: #cfcfcf;
}

.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    color:#000; /* Pagination text color */
    /*background: #555; *//* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.pagination a:hover{
    color:#fff;
    background: #980267; /* Pagination background on hover */
}

.pagination .current{
    padding:6px 9px 5px 9px;
    background: #980267; /* Current page background */
    color:#fff;
}

.youtube-privacy-link {
    color: #fff !important;
    text-decoration: underline !important;
    font-weight: normal !important;
}

.categories-links {
    color: #7e7e7e;
    font-size: 13px !important;
}

.categories-links>a {
    color: #7e7e7e;
    font-weight: normal !important;
}