/*
    Description: Default Styling
    Version: 1.0.0



    SPD-Rot: #E3000F rgb(227,0,15)
    Purpur: #980267 rgb(152,2,103)
    Dunkelrot: #861C3E rgb(182,28,62)
    Cyanblau: #00B4CC rgb(0,180,204)

    Schrift: SPD TheSans, SPD TheSans Versal (Extrabold, Regular)
*/


/*
    ======================



    ======================
 */



/*      SPD Fonts       */

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans.ttf');
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-bold-italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-narrow.ttf');
    font-stretch: condensed;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-narrow-bold.ttf');
    font-stretch: condensed;
    font-weight: bold;

}

body{
    font-family: 'SPD TheSans', sans-serif;
    overflow-x: hidden;
    color: #000;
}

* {
    box-sizing: border-box;
}


/*
    ======================

    Defines a class for columns with equal height in a bootstrap row.

    ======================
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}


.row {
    margin: 0 0;
    padding: 0 0;
}


.placeholder {
    height: 150px;
    width: 100%;
}

[class*='col-'] {
    padding: 0 0;
}

@media only screen and (min-width: 1500px) {
    .container-fluid {
        padding: 0;
        margin: 0;
    }
}



/*
    ======================

    Border between single posts.

    ======================
 */
.custom-post-divide {
    margin: 50px auto 50px auto;
    width: 60%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
}

/*
    ======================

    Custom horizontal lines

    ======================
 */

.custom-hr {
    width: 100%;
    clear: both;
    min-height: 8px;
    height: auto;
    margin-bottom: 10px;
    border-color: #9d9d9d;
}

.hr-left {
    display: inline-block;
    position: relative;
    left: 0;
    width: 70px;
    border-top: 2px solid #E3000F;
    vertical-align: middle;
}

.hr-line-purple {
    height: 10px;
    border-top: 1px solid #980267;
}

/*
    ======================

    Separator for single posts

    ======================
 */

.separator {
    margin: 30px 0;
}

.separator-small {
    margin: 5px 0;
}


.table-cell-top {
    vertical-align: top;
    padding: 12px;
}

.justified {
    text-align: justify;
    word-break: normal;
}

.center-content {
    margin: auto;
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}





/*
    ======================

    Red heading

    ======================
 */
.heading-red {
    color: #E3000F;
}

/*
    ======================

    Purple italic heading

    ======================
 */
.heading-purple {
    color: #980267;
    /*font-style: italic;*/
}

/*
    ======================

    Bold heading

    ======================
 */
.heading-strong {
    font-weight: bold;
}

/*
    ======================

    Section heading

    ======================
 */
.section-heading {
    font-size: 2rem;
}

/*
    ======================

    Link styling

    ======================
 */

.row a {
    text-decoration: none;
    font-weight: bold;
    color: #E3000F;
}

.row a:hover {
    text-decoration: underline;
}

.post-title-link {
    color: #000 !important;
    font-weight: normal !important;
}

.post-title-link:hover {
    text-decoration: underline;
}



/*
    ======================

    Post time

    ======================
*/
.time {
    font-size: 13px;
    color: #808080;
    padding-top: 20px;
}


/*
    ======================

    reminder entry

    ======================
*/

.reminder-entry:nth-child(2n) {
    background-color: #e3e3e3;
}



/*
    ======================

    divider image

    ======================
 */
.divider-image {
    display: block;
    width: 100%;
    opacity: .6;
    cursor: pointer;
}

.divider-image:hover {
    transition: .85s;
    opacity: 1;
}

/*
    ======================

    side image

    ======================
 */

.side-image {
    /*float: right;*/
    width: 50%;
    margin: 10px 25px;
    opacity: .6;
    cursor: pointer;
}

.side-image:hover {
    -webkit-transition: .85s;
    -moz-transition: .85s;
    -ms-transition: .85s;
    -o-transition: .85s;
    transition: .85s;
    opacity: 1;
}

.right {
    float: right;
}

.left {
    float: left;
}

.col-margin {
    margin: 0 15px;
}