/*
    Description: Default Styling
    Version: 1.0.0



    SPD-Rot: #E3000F rgb(227,0,15)
    Purpur: #980267 rgb(152,2,103)
    Dunkelrot: #861C3E rgb(182,28,62)
    Cyanblau: #00B4CC rgb(0,180,204)

    Schrift: SPD TheSans, SPD TheSans Versal (Extrabold, Regular)
*/


/*
    ======================



    ======================
 */



/*      SPD Fonts       */

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans.ttf');
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-bold-italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-narrow.ttf');
    font-stretch: condensed;
}

@font-face {
    font-family: 'SPD TheSans';
    src: url('fonts/sans-narrow-bold.ttf');
    font-stretch: condensed;
    font-weight: bold;

}

body{
    font-family: 'SPD TheSans', sans-serif;
    overflow-x: hidden;
    color: #000;
}

* {
    box-sizing: border-box;
}


/*
    ======================

    Defines a class for columns with equal height in a bootstrap row.

    ======================
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}


.row {
    margin: 0 0;
    padding: 0 0;
}


.placeholder {
    height: 150px;
    width: 100%;
}

[class*='col-'] {
    padding: 0 0;
}



/*
    ======================

    Border between single posts.

    ======================
 */
.custom-post-divide {
    margin: 50px auto 50px auto;
    width: 60%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #9d9d9d, #f0f0f0);
}

/*
    ======================

    Custom horizontal lines

    ======================
 */

.custom-hr {
    width: 100%;
    clear: both;
    min-height: 8px;
    height: auto;
    margin-bottom: 10px;
    border-color: #9d9d9d;
}

.hr-left {
    display: inline-block;
    position: relative;
    left: 0;
    width: 70px;
    border-top: 2px solid #E3000F;
    vertical-align: middle;
}

.hr-line-purple {
    height: 10px;
    border-top: 1px solid #980267;
}

/*
    ======================

    Separator for single posts

    ======================
 */

.separator {
    margin: 30px 0;
}

.separator-small {
    margin: 5px 0;
}


.table-cell-top {
    vertical-align: top;
    padding: 12px;
}

.col-right {
    padding-left: 25px;
}

.col-left {
    padding-right: 25px;
}

.justified {
    text-align: justify;
    word-break: normal;
}

.center-content {
    margin: auto;
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}





/*
    ======================

    Red heading

    ======================
 */
.heading-red {
    color: #E3000F;
}

/*
    ======================

    Purple italic heading

    ======================
 */
.heading-purple {
    color: #980267;
    /*font-style: italic;*/
}

/*
    ======================

    Bold heading

    ======================
 */
.heading-strong {
    font-weight: bold;
}

/*
    ======================

    Section heading

    ======================
 */
.section-heading {
    font-size: 2rem;
}

.post-title-link {
    color: #000 !important;
    font-weight: normal !important;
}

.post-title-link:hover {
    text-decoration: underline;
}


/*
    ======================

    Link styling

    ======================
 */

.row a {
    text-decoration: none;
    font-weight: bold;
    color: #E3000F;
}

.row a:hover {
    text-decoration: underline;
}

.right {
    position: absolute;
    right: 0;
}




/*
    ======================

    Small screen rules!

    ======================
 */

@media screen and (max-width: 992px) {
    .col-right {
        padding-left: 0;
    }

    .col-left {
        padding-right: 0;
    }
}


/*
    ======================

    Post time

    ======================
 */
.time {
    font-size: 13px;
    color: #808080;
    padding-top: 20px;
}




/*
    ======================

    Post type status

    ======================
 */
.post-status-title > p {
    text-align: center;
    margin: 0;
    font-size: 30px;
    padding: 20px 0;
}



/*
    ======================

    Post type image

    ======================
 */

.post-image-thumbnail {
    padding: 25px;
}

.post-image-thumbnail > img {
    height: auto;
    max-width: 100%;
    /*object-fit: cover;
    width:100%;
    height: auto;*/
}


.post-image-content > p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}



/*
    ======================

    Post type aside

    ======================
 */
.post-aside-title > p {
    text-align: center;
    margin: 0;
    padding: 100px 0 0 0;
    font-size: 30px;
}

.post-aside-content p {
    margin-top: 20px;
    font-size: 16px;
}

.reminder-entry:nth-child(2n) {
    background-color: #e3e3e3;
}
