/*

    Search

 */
button {
    border: none;
    outline: none;
    margin-left: 8px;
    background-color: #fff;
    margin-top: 3px;
}

.fa-search {
    font-size: 21px;
    cursor: pointer;
}

.container-3{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-3 input#search{
    width: 120px;
    border: none;
    font-size: 10pt;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000;

    transition: .2s;
    -webkit-transition: .2s;
}

.container-3:hover .search-icon {
    /*margin-top: 16px;*/
    color: #980267;
}



.container-3 input#search:focus, .container-3 input#search:active{
    outline: none;
    border-bottom: 1px solid #980267;
}

.container-3 input#search::-webkit-input-placeholder {
    color: #000;
}

.container-3 input#search::-moz-placeholder {
    color: #000;
}

.container-3 input#search:-ms-input-placeholder {
    color: #000;
}