#service-submit {
    float: right;
    border: none;
    padding: 8px 15px;
    background-color: #980267;
    color: #fff;
}

#service-submit:hover {
    background-color: #680037;
    /*color: #dfdfdf;*/
}

.table-service-form .input-service {
    width: 100%;
    padding: 5px 0 5px 5px;
    border: 2px solid white;
    background-color: #F0F0F0;
}

.table-service-form .input-service:focus {
    outline: none;
    border: 2px solid #980267;
}

textarea {
    resize: none;
}

.table-service .tr-separate {
    padding-bottom: 10px;
}

.table-service {
    table-layout: fixed;
}

.service-image {
    display: block;
    width: 100%;
    margin: 50px auto;
}

.error {
    padding: 5px 9px;
    border: 1px solid red;
    color: red;
    border-radius: 3px;
    margin-bottom: 5px;
}

.success {
    padding: 5px 9px;
    border: 1px solid green;
    color: green;
    border-radius: 3px;
    margin-bottom: 5px;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 10px;
}

/* Create four equal columns that sits next to each other */
.img-column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.img-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    transition: .8s;
}

.img-column img:hover {
    opacity: .5;
    -ms-transform: scale(.95);
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.modal-header {
    border: 0;
    padding-bottom: 0;
}

.close-modal {
    font-weight: lighter;
    font-size: 30px;
    color: #cc2535;
    cursor: pointer;
}

.close-modal:hover {
    color: #bc1525;
}

#downloadButton {
    font-weight: lighter;
    font-size: 30px;
    cursor: pointer;
    color: #505050;
}

#downloadButton:hover {
    color: #000;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .img-column {
        flex: 66%;
        max-width: 66%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .img-column {
        flex: 100%;
        max-width: 100%;
    }
}