iframe {
    display: block;
    margin: auto;
}

.size-post-thumbnail {
    display: block;
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.news-title {
    font-weight: bold;
}

.all-reminder-link {
    float: right;
    color: #980267 !important;
}