#service-submit {
    float: right;
    border: none;
    padding: 8px 15px;
    background-color: #980267;
    color: #fff;
}

#service-submit:hover {
    background-color: #680037;
    /*color: #dfdfdf;*/
}

.table-service-form .input-service {
    width: 100%;
    padding: 5px 0 5px 5px;
    border: 2px solid white;
    background-color: #F0F0F0;
}

.table-service-form .input-service:focus {
    outline: none;
    border: 2px solid #980267;
}

textarea {
    resize: none;
}

.table-service .tr-separate {
    padding-bottom: 10px;
}

.table-service {
    table-layout: fixed;
}

.service-image {
    display: block;
    margin: 50px auto;
}